<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Table</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <form id="createTableForm">
        <fieldset id="CreateTableBox">
            <legend>Create Table</legend>

            <label for="tableName">Table Name</label>
            <input type="text" id="tableName" name="tableName" required><br>

            <label for="FieldNames">field names</label>
            <input type="text" id="FieldNames" name="FieldNames" required><br>

            <div id="FieldNamesType">
                <label for="DataType">Type</label>
                <select id="DataType" name="DataType">
                    <option selected disabled></option>
                    <option value="STRING">STRING</option>
                    <option value="INTEGER">INTEGER</option>
                    <option value="BOOLEAN">BOOLEAN</option>
                    <option value="JSON">JSON</option>
                    <option value="DUOBLE">DUOBLE</option>
                </select>
            </div><br>

            <button id="AddField" role="link">Add another field</button>
            <br><br>
            <button type="submit" id="CreateTable">Create Table</button>

        </fieldset>
    </form>
    </div>
</body>

</html>