<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Database Management</title>
</head>

<body>
    <h1>Database Management</h1>

    <!-- Display Table Names -->
    <fieldset id="TableName">
        <legend>Tables:</legend>
        <ul id="tableList">
            <!-- Table names will be dynamically added here -->
        </ul>

        <!-- Create Table Form -->
        <button id="createTableBtn">Create Table</button>
    </fieldset>
    <br>

    <table>

    </table>
    <!-- JavaScript to handle interactions -->
    <script src="/js/script.js"></script>
</body>

</html>